# text stuff
* text=auto
*.bat text eol=crlf
*.info text eol=lf
*.java text eol=crlf
*.json text eol=lf
*.mcmeta text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.sh text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
build.gradle text eol=lf
build.properties text eol=lf
gradlew text eol=lf
gradle/wrapper/gradle-wrapper.properties text eol=lf
LICENSE.txt text eol=lf
README.md text eol=lf

#binary
*.dat binary
*.bin binary
*.png binary
*.exe binary
*.dll binary
*.zip binary
*.jar binary
*.7z binary
*.db binary
